<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Uh oh...</h1>
    <p>The answer you submitted was incorrect.</p>
    <a href='/problem/{{index}}'>Back to Problem {{index}}</a>
  </body>
</html>
