<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1>Uh oh...!</h1>
        </div>

        <div class="panel-body">
          <p>The answer you submitted was incorrect.</p>
        </div>
      </div>

      <a href='/problem/<%= index %>'>Back to Problem <%= index %></a>

    </div>
  </body>
</html>
