<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is the home page</h1>
      {{#each progress}}
        <a href="/problem/{{this.number}}">Problem {{this.number}}</a>
        {{#if this.solved}}
          Solved
        {{else}}
          Not Solved
        {{/if}}
        <br>
      {{/each}}
  </body>
</html>
