<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <% if (hasSolved) { %>
        <div class="panel panel-success">
      <% } else { %>
        <div class="panel panel-info">
      <% } %>

        <div class="panel-heading">
          <h1>Problem <%= index %></h1>
            <% if (hasSolved) { %>
              <div class="solved">You have solved this problem!</div>
            <% } else { %>
              <div class="not-solved">You have not solved this problem yet.</div>
            <% } %>
        </div>

        <div class="panel-body">
          <p><%= problemStatement %></p>
        </div>
      </div>

      <form class="form-inline form-submit" action="/problem/<%= index %>" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="submittedAnswer" placeholder="Your answer">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <a class="back-link" href="/">Back</a>

    </div>
  </body>
</html>
