<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if hasSolved}}
      <h1>You have solved this problem.</h1>
    {{else}}
      <h1>You have not solved this problem yet.</h1>
    {{/if}}

    <p>{{problemStatement}}</p>
  </body>
</html>
